
.menu-collapsed .brand-logo {
    width: 50px;
}
body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-brand {
    padding-top: 8px !important;
}
.menu-expanded .brand-logo {
    margin-right: 65px; 
    max-width: 100px;
}
.main-menu .navigation li > a > i, .main-menu .dropdown-menu i, .main-menu .dropdown-user > a > i, .main-menu .navigation > li > a > i {
  float : right;
}

.dropdown-user.nav-item i {
  float : right;
}

.menu-expanded .form-group i {
  float : inherit;
}

.form-control-position i {
  top : 25%;
  position : absolute;
  right : 25%;
}

.ui-widget-icon-block {
  right : 50%;
}

.ui-dialog .ui-dialog-titlebar-close {
  right : 3rem;
}

.btn i[class^='icon-'], .btn i[class*=' icon-'] {
  line-height : 1.25rem;
}

code[class*='language-'], pre[class*='language-'] {
  direction : ltr;
}

@media print {
  code[class*='language-'], pre[class*='language-'] {
    text-shadow : none;
  }
}

