.img_preview { margin-top: 5px;display: inline-block;font-size: 16px; width: 200px; height: 200px; border-radius: 200px; border: 3px solid #dedede; position: relative; overflow: hidden; background-color: #eee; background-size: cover; background-repeat: no-repeat; background-position: center; -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* this fixes the overflow:hidden in Chrome/Opera */ }
.img_preview span { display: block; padding: 0; line-height: 200px; text-align: center; }
.img_preview input { position: absolute; font-size: 2000px; z-index: 200; top: 0; right: 0; opacity: 0; -ms-filter: "alpha(opacity=0)"; cursor: pointer; }
.img_preview .up_again { display: table-cell; vertical-align: middle; text-align: center; width: 200px; height: 200px; opacity: 0; color: #fff; transition: 0.3s ease-in-out; -moz-transition: 0.3s ease-in-out; -webkit-transition: 0.3s ease-in-out; -o-transition: 0.3s ease-in-out; line-height: 1.6; }
.img_preview:hover .up_again { opacity: 1; background: rgba(0, 0, 0, 0.5); }
.user-details #FileTypeGroup span, .user-details #FileTypeIdData span, .user-details #FileTypePersonalPicture span, .user-details #FileTypeSharedData span{
    text-align:  center !important;
}